.rich-autocomplete-wrapper {
  border: 1px solid #ccc;
}

.rich-autocomplete-wrapper .single-item {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 3px;
  position: relative;
}

.rich-autocomplete-wrapper .single-item .single-item-title {
  display: block;
  margin-left: 22px;
}

.rich-autocomplete-wrapper .single-item .single-item-desc {
  color: #999;
  font-size: 0.9em;
  display: block;
  margin-left: 22px;
  font-style: italic;
}

.rich-autocomplete-wrapper .single-item .single-item-deselect {
  position: absolute;
  padding: 1px 4px;
  top: 50%;
  left: 4px;
  margin-top: -10px;
  background-color: #eee;
  border-radius: 5px;
  cursor: pointer;
  color: #666;
}

.rich-autocomplete-wrapper .single-item .single-item-deselect:hover {
  color: #000;
  background-color: #ddd;
}

.rich-autocomplete-wrapper .ra-autocomplete-input {
  margin: 3px;
  padding: 5px;

}

.rich-autocomplete-wrapper .single-item .additional-input {
  float: right; margin: 0 0 0 3px;
}